<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link href="favicon.ico" rel="icon"/>
    <title>Reset Success Page</title>
    <link
            crossorigin="anonymous"
            href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
            rel="stylesheet"/>

</head>
<body style="background-color: #e7ebee">
<div class="flex align-items-center text-center">
    <div>
        <h4>Password Reset</h4>
        <div class="validation-message alert alert-success"
             role="alert" th:if="${Success}"
             th:text="${Success}"></div>
        <div>
            <a class="text-secondary" th:href="@{/login}">Go to Login</a>
        </div>
    </div>
</div>
</body>
</html>